PORT=3000
METAL_PRICE_API=https://api.metals.dev/v1/latest
METAL_PRICE_API_KEY=WDOSOHPY8N7NAZGBKWK7640GBKWK7
METAL_PRICE_API_CURRENCY=INR
METAL_PRICE_API_UNIT=g
ALLTICK_TOKEN=c6a6587f4cd5d2771c6d0069ee9d4249-c-app
REDIS_URL=